@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary: #205072;
  --color-primary-light: #205072c9;
  --color-good: #0f4414;
  --color-warning: #f08c00;
  --color-danger: #e03131;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

p, h1 {
  margin: 0;
}
/* --- Content styles */
#content {
  margin-block: 6rem;
  margin-inline: auto;
  display: flex;
  flex-flow: column nowrap;
}

#content-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#content-header div {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

#content-header div button {
  width: 48px;
}

#content-title {
  color: var(--color-primary);
  letter-spacing: 2px;
}

#content-progress {
  color: var(--color-primary-light);
}

#content-description {
  width: 80ch;
  margin-bottom: 1rem;
}

#content-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#content-list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-inline: 1rem;
}

#content-list li:last-child {
  border-bottom: none;
} 

.content-list-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-inline: 1rem; 
}

.content-li {
  margin: 0;
  display: grid;
  grid-template-columns: 0.3fr 2fr 0.1fr 2fr 1fr;
  align-items: center;
  padding-block: 1rem;
}

.content-li.expanded {
  grid-template-columns: 0.3fr 2fr 0.1fr 2fr 1fr;
  grid-template-rows: 1fr auto;
}

.task-description {
  max-width: 55ch;
  grid-column: 2 / span 3;
  grid-row: 2;
}

.content-li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* --- Icon buttons --- */
.icon-btn {
  background-color: transparent;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  transition: ease 100ms;
  display: grid;
  padding: 4px;
  place-content: center;
}

.icon-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.icon-btn img {
  width: 24px;
  height: 24px;
}

.task-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 8px;
}

/* --- Text buttons --- */
.text-btn {
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: ease 100ms;
  padding: 8px;
  margin: 4px;
}

.text-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.new-task {
  font-weight: 600;
  letter-spacing: 1px;
}

/* --- Sidebar Styles --- */
#sidebar {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #353535;
  color: white;
  max-height: 100%;
}

#sidebar h1 {
  font-size: 32px;
}

#sidebar-list {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-li,
.sidebar-li-action {
  cursor: pointer;
  transition: ease 100ms;
}

.sidebar-li:hover,
.sidebar-li-action:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-li,
.sidebar-li-action,
#logo-container {
  display: grid;
  grid-template-columns: 32px 4fr 1fr;
  align-items: center;
  gap: 12px;
  padding: 24px;
}

/* Align icons to the center, also aligned the to logo icon */
#sidebar-list img,
#sidebar-list svg, 
#sidebar-list .badge {
  justify-self: center;
  width: 24px;
}

.sidebar-li-active {
  color: #93bacb;
  font-weight: bold;
}

/* Send About list item to the bottom */
.sidebar-li-action:last-child {
  margin-top: auto;
}

#projects-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  max-height: calc(72px * 4); /* shows 4 project-items */
}

#projects-container ul::-webkit-scrollbar {
  width: 8px;
}

#projects-container ul::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

#projects-container li {
  padding: 24px 24px 24px 80px;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

#projects-container li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* --- Icon sizes --- */
.icon-medium {
  width: 32px;
}

/* --- Badge styles --- */
.badge {
  font-size: 14px;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding: 4px;
  display: grid;
  place-content: center;
}

/* Add padding for a proper display, i.e when using text-badges */
.badge-large {
  font-size: 11px;
  padding: 4px 12px;
  border-radius: 8px;
}

.badge-fill {
  background-color: var(--color-primary);
  color: white;
}

.badge-outline {
  border: 2px solid var(--color-primary);
}

.badge-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

/* --- Dialog styles --- */
dialog {
  border: none;
  border-radius: 16px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog h3 {
  text-align: center;
  margin: 0;
}

dialog form input,
dialog form textarea {
  font-family: inherit;
  font-size: 1rem;
  padding: 8px;
}

dialog form textarea {
  resize: none;
  width: 50ch;
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
  margin-block: 1rem;
}

.form-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 8px;
}

.form-actions button {
  font-family: inherit;
  font-size: 1rem;
  border-radius: 8px;
  outline: none;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
}

.dialog-confirm {
  background-color: var(--color-primary);
  color: white;
}

.dialog-confirm:hover {
  filter: brightness(1.2);
}

.dialog-cancel {
  background-color: transparent;
  color: var(--color-primary);
}
.dialog-cancel:hover {
  background-color: rgba(0, 0, 0, 0.1);
}